.container {
    height: calc(100vh - 90px);
    width: 100vw;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
    flex-wrap: wrap;
    gap: 40px;
    font-family: "Roboto Mono", monospace;
    margin-top: 10px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    width: 270px;
    min-height: 200px;
    border-radius: 10px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card-img {
    height: 250px;
    width: 250px;
}
/* .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
} */
.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 15px 2px #ff0000, 0 0 25px 4px #ffa500, 0 0 35px 6px #ffff00, 0 0 45px 8px #00ff00, 0 0 55px 10px #0000ff,
        0 0 65px 12px #4b0082, 0 0 75px 14px #ee82ee;
}
@keyframes rainbowGlow {
    0% {
        box-shadow: 0 0 20px #ff0000;
    }
    16% {
        box-shadow: 0 0 20px #ffa500;
    }
    33% {
        box-shadow: 0 0 20px #ffff00;
    }
    50% {
        box-shadow: 0 0 20px #00ff00;
    }
    66% {
        box-shadow: 0 0 20px #0000ff;
    }
    83% {
        box-shadow: 0 0 20px #4b0082;
    }
    100% {
        box-shadow: 0 0 20px #ee82ee;
    }
}

.card:hover {
    animation: rainbowGlow 2s linear infinite;
    transform: translateY(-6px);
}
.card-description {
    font-size: 12px;
}

.card-header {
    padding: 10px;
    text-align: center;
    font-size: large;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px;
}

.card-content {
    padding: 10px;
    overflow-wrap: break-word;
}

#section2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* background-color: aqua; */
    justify-content: space-between;
    align-items: flex-start;
}

#section3,
#section4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    align-items: flex-start;
    justify-content: center;
}

.title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}
