.container {
    height: calc(100vh - 80px);
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
    flex-wrap: wrap;
    gap: 40px;
}

.card-img {
    height: 200px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    min-width: 200px;
    min-height: 200px;
    border-radius: 10px;
}

.card-header {
    padding: 10px;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-size: large;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px;
}

.card-content {
    padding: 10px;
}

#section2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* background-color: aqua; */
    justify-content: space-between;
}

#section3,
#section4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
    font-size: 30px;
    font-family: "Roboto Mono", monospace;
    margin-bottom: 10px;
}
