header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: white;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px;
}

#work-links {
    font-family: "Roboto Mono", monospace;
    flex-grow: 1.5;
    flex-basis: 200px;
    display: flex;
    gap: 10px;
}

.wlink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

#name {
    flex-grow: 2;
    flex-basis: 200px;
    font-size: 28px;
    font-family: "Roboto Mono", monospace;
}

#contacts {
    flex-grow: 1;
    flex-basis: 100px;
    font-family: "Roboto Mono", monospace;
}
