header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: white;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px;
}

#work-links {
    font-family: "Roboto Mono", monospace;
    flex-grow: 1.5;
    flex-basis: 200px;
    display: flex;
    gap: 10px;
}

.wlink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

#name {
    flex-grow: 2;
    flex-basis: 200px;
    font-size: 28px;
    font-family: "Roboto Mono", monospace;
}

#contacts {
    flex-grow: 1;
    flex-basis: 100px;
    font-family: "Roboto Mono", monospace;
}

#burger {
    display: none;
}

.popup {
    position: fixed;
    top: -80px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.popup:target {
    position: fixed;
    top: 80px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    gap: 10px;
    width: 100vw;
    padding: 20px;
    z-index: 10;
}

@media (max-width: 768px) {
    #name {
        text-align: center;
    }
    #work-links,
    #contacts {
        display: none;
    }
    #burger {
        display: block;
        position: absolute;
        right: 20px;
    }
    #burger:hover {
        cursor: pointer;
    }
}
